<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlAdmin</servlet-name>
        <servlet-class>sistema.controller.controlAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>sistema.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesController</servlet-name>
        <servlet-class>sistema.controller.RolesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicosController</servlet-name>
        <servlet-class>sistema.controller.MedicosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlAdmin</servlet-name>
        <url-pattern>/controlAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesController</servlet-name>
        <url-pattern>/RolesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicosController</servlet-name>
        <url-pattern>/MedicosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
